<div class="container">
  <h2>Contracts</h2>
  <table mat-table *ngIf="contracts$ | async as contracts" [dataSource]="contracts" class="mat-elevation-z8">
    <ng-container matColumnDef="company_id">
      <th mat-header-cell *matHeaderCellDef> Company ID </th>
      <td mat-cell *matCellDef="let contract"> {{ contract.id }} </td>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let contract"> {{ contract.start_date }} </td>
    </ng-container>

    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let contract"> {{ contract.end_date }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let contract">
        <button mat-button [routerLink]="['/contract', contract.id]">View</button>
        <button mat-button [routerLink]="['/contract/edit', contract.id]">Edit</button>
        <button mat-button (click)="deleteContract(contract.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button color="primary" [routerLink]="['/contract/new']">Add Contract</button>
</div>
